<icones-topo></icones-topo>

<!-- /.row -->
<div class="row" ng-controller="contabilidadeCtrl">
    <div class="col-lg-12">
        <div class="panel panel-default">
             O que posso fazer?
            <div class="panel-heading">               
                A administração do sistema permite que você gerencie as opções gerais do sistema.
Você pode gerenciar as empresas ou filiais que deseja controlar, controlar os usuários que terão acesso ao sistema e ainda definir através dos grupos quais as áreas que cada um deles vai poder ter acesso, além de definir também as empresas que o usuário pode visualizar.
            </div>
           
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>